@model IEnumerable<EmployeeAccountingApp.ViewModels.EmployeeViewModel>

@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
    {
    <div class="form-group" style="margin:30px">
        <b> Опции поиска: </b>
        @Html.RadioButton("option", "Имя",true) 
        <text>Имя</text> 
        @Html.RadioButton("option", "Фамилия")
        <text> Фамилия </text>
        @Html.RadioButton("option", "Отдел")
        <text>Отдел</text>
        @Html.TextBox("search") 
        <input type = "submit"  name = "submit" value = "Поиск"/>
    </div>
    }
    <p>
        @Html.ActionLink("Добавить пользователя", "Add")
    </p>
    <table class="table">
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Возраст
            </th>
            <th>
                Пол
            </th>
            <th>
                Отдел
            </th>
            <th>
                Язык программирования
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Department.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience.Language.Name)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Employee.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Employee.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
